
<div class="card shadow-none border border-300 mb-3  card-default card-table" data-component-card="data-component-card">
    
    <div class="card-body p-0">
        <div class="collapse code-collapse" id="search-example-code">
            <pre class="scrollbar" style="max-height:420px">
                
            </pre>
        </div>
        <div class="p-4 code-to-copy">
            
            <h2 class="text-bold text-1100 mb-5">Companies</h2>
            <div id="tableExample3" data-list='{"valueNames":["name","address","city","state","phone_number",],"page":10,"pagination":true}'>
                <div class="row align-items-center justify-content-between g-3 mb-4">
                    <div class="col col-auto">
                        <div class="search-box">
                           
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                            <button class="btn btn-link text-900 me-4 px-0"><span class="fa-solid fa-file-export fs--1 me-2"></span>Export</button>
                            <a asp-asp-controller="Company" asp-action="Upsert"> <button class="btn btn-primary"><span class="fas fa-plus me-2"></span>Add Company</button></a>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="table-responsive row">
                        <div class="">
                            <table class="table table-striped table-sm fs--1 mb-0" id="companytblbody" width="100%">
                                <thead>
                                    <tr>
                                        <th class="sort border-top ps-3" data-sort="name">Name</th>
                                        <th class="sort border-top" data-sort="address">Address</th>
                                        <th class="sort border-top" data-sort="city">City</th>
                                        <th class="sort border-top" data-sort="state">State</th>
                                        <th class="sort border-top" data-sort="phone_number">Phone</th>
                                        <th class="sort text-end align-middle pe-0 border-top" scope="col">ACTION</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        
                    </div>
                    <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                        <div class="col-auto d-flex">
                            <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                        </div>
                        <div class="col-auto d-flex">
                            <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                            <ul class="mb-0 pagination"></ul>
                            <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
           


        </div>
    </div>
</div>






@section Scripts{
   

    <script src="~/js/mycompanies.js"></script>

  
}
