@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<li class="nav-item dropdown">
    <a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
        <div class="avatar avatar-l ">
            <img class="rounded-circle " src="/public/assets/img/team/40x40/57.webp" alt="" />

        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
        <div class="card position-relative border-0">
            <div class="card-body p-0">
                <div class="text-center pt-4 pb-3">
                    <div class="avatar avatar-xl ">
                        <img class="rounded-circle " src="/public/assets/img/team/72x72/57.webp" alt="" />

                    </div>
                    <h6 class="mt-2 text-black">@UserManager.GetUserName(User)</h6>
                </div>
                
            </div>
           
            <div class="card-footer p-0 border-top">
                <ul class="nav d-flex flex-column my-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form id="logoutForm" class="form-inline px-3" asp-area="Identity" asp-page="/Account/Logout">
                            <button id="logout" type="submit" class="btn btn-phoenix-secondary d-flex flex-center w-100">
                                 <span class="me-2" data-feather="log-out"> </span>Sign out
                            </button>
                        </form>
                        
                                               
                    }
                    else
                    {
                        @* <li class="nav-item">
                            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                        </li> *@
                        <br />
                        <li class="nav-item">
                            <a class="btn btn-phoenix-secondary d-flex flex-center w-100" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li>
                    }
                </ul>
                <hr />
                @*<div class="px-3"> <a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="#!"> <span class="me-2" data-feather="log-out"> </span>Sign out</a></div>*@
                <div class="my-2 text-center fw-bold fs--2 text-600"><a class="text-600 me-1" href="#!">Privacy policy</a>&bull;<a class="text-600 mx-1" href="#!">Terms</a>&bull;<a class="text-600 ms-1" href="#!">Cookies</a></div>
            </div>
        </div>
    </div>
</li>











@*<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
*@