<form method="post">
<div class="card shadow-none border border-300 mb-3  card-default card-table" data-component-card="data-component-card">

    <div class="card-body p-0">
        <div class="collapse code-collapse" id="search-example-code">
            <pre class="scrollbar" style="max-height:420px">

            </pre>
        </div>
        <div class="p-4 code-to-copy">

            <h2 class="text-bold text-1100 mb-5">Termination</h2>
            <div id="tableExample3" data-list='{"valueNames":["name","prefix","bonus","min_tonnage","Branch",],"page":10,"pagination":true}'>
                <div class="row align-items-center justify-content-between g-3 mb-4">
                    <div class="col col-auto">
                        <div class="search-box">
                        </div>
                    </div>
                   
                </div>
                <div class="">
                    <div class="table-responsive row">
                        <div class="">
                            <table class="table table-striped table-sm fs--1 mb-0" id="terminationtblbody" width="100%">
                                <thead>
                                    <tr>
                                        <th class="sort border-top ps-3" data-sort="name">Employee</th>
                                        <th class="sort border-top" data-sort="address">Designation</th>
                                        <th class="sort border-top" data-sort="city">Reason</th>
                                        <th class="sort border-top" data-sort="state">Date</th>
                                        <th class="sort border-top" data-sort="state">Approval Status</th>
                                        <th class="sort border-top" data-sort="state">Action</th>
                                    </tr>
                                </thead>
                                <tbody class="list">
                                </tbody>
                            </table>
                        </div>

                    </div>
                   
                </div>
            </div>



        </div>
    </div>
</div>
</form>


@section Scripts{
    <script src="~/js/employeeTermination.js"></script>
}
