@model SmartHRM.Models.ViewModels.EmployeeTerminationVM

<div class="container">
    <form method="post" asp-action="Upsert">
	<div class="card">
		<div class="card-header bg-dark text-light ml-0">
			<div class=" row container">
				<div class="col-6">
					<i class="fa fa-sho"></i> &nbsp;
                    @(Model.EmployeeTermination.Id != 0 ? "Update" : "Create") Employee Termination
				</div>
				<div class="col-6 text-end">
					<a asp-action="Index" class="btn btn-outline-info btn-sm">Back to List</a>
				</div>
			</div>
		</div>
		<div class="card-body">
			<div class="container">
               
                    <div class="row col-12 offset-lg-1">
                        <div asp-validation-summary="All"></div>
                        <input asp-for="EmployeeTermination.Id" hidden />
                        <input asp-for="EmployeeTermination.InitiatedById" hidden />
                        <input asp-for="EmployeeTermination.ApprovalStatus" hidden />
                       
                        <div class="row my-1">
                            <div class="col-3">
                                <label asp-for="EmployeeTermination.EmployeeId"></label>
                            </div>
                            <div class="col-7">
                                <select asp-for="EmployeeTermination.EmployeeId" data-choices="data-choices" asp-items="@Model.Employeelist" class="form-select">
                                    <option disabled selected>--Select Employee--</option>
                                </select>
                                <span asp-validation-for="EmployeeTermination.EmployeeId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="row my-1">
                            <div class="col-3">
                                <label asp-for="EmployeeTermination.TerminationCategoryId"></label>
                            </div>
                            <div class="col-7">
                                <select asp-for="EmployeeTermination.TerminationCategoryId" data-choices="data-choices" asp-items="@Model.TerminationCategoryList" class="form-select">
                                    <option disabled selected>--Select Termination Type--</option>
                                </select>
                                <span asp-validation-for="EmployeeTermination.TerminationCategoryId" class="text-danger"></span>
                            </div>
                        </div>
                       

                        <div class="row my-1">
                            <div class="col-3">
                                <label asp-for="EmployeeTermination.TermDate"></label>
                            </div>
                            <div class="col-5">
                                <input asp-for="EmployeeTermination.TermDate" type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy" data-options='{"disableMobile":true,"dateFormat":"d/m/Y"}' />
                                <span asp-validation-for="EmployeeTermination.TermDate" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row my-1">
                            <div class="col-3">
                                <label asp-for="EmployeeTermination.Reason"></label>
                            </div>
                            <div class="col-5">
                                <textarea asp-for="EmployeeTermination.Reason" rows="3" class="form-control"></textarea>
                                <span asp-validation-for="EmployeeTermination.Reason" class="text-danger"></span>
                            </div>
                        </div>

                       


                    </div>
               
			</div>
			<div class="card-footer">
				<div class="row">

					<div class="col-12 col-md-4">
						<button type="submit"  class="btn btn-primary form-control align-right">Save Termination</button>
					</div>
				</div>
			</div>
		</div>
	</div>
    </form>
 </div>

 @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
   
}
