@model SmartHRM.Models.ViewModels.SectionVM

<form method="post" asp-action="Upsert" >
    <div class="row">
        <div class="col-12">
            <div class="border p-3 mt-4" row>
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.CompSection.Id != 0 ? "Update" : "Create")  Section</h2>
                    <hr />
                </div>
                <div asp-validation-summary="All"></div>
                <input asp-for="CompSection.Id" hidden />
               

                <div class="mb-3">
                    <label asp-for="CompSection.SectionName"></label>
                    <input asp-for="CompSection.SectionName" class="form-control" />
                    <span asp-validation-for="CompSection.SectionName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="CompSection.DepartmentId"></label>
                    <select asp-for="CompSection.DepartmentId" asp-items="@Model.DepartmentList" class="form-select">
                        <option disabled selected>--Select Department--</option>
                    </select>
                    <span asp-validation-for="CompSection.DepartmentId" class="text-danger"></span>
                </div>

               
                <div class="mb-3">
                    <label asp-for="CompSection.DivisionId"></label>
                    <select asp-for="CompSection.DivisionId" asp-items="@Model.DivisionList" class="form-select">
                        <option disabled selected>--Select Division--</option>
                    </select>
                    <span asp-validation-for="CompSection.DivisionId" class="text-danger"></span>
                </div>
                               


                <div class="col-12">
                    @if (Model.CompSection.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
                    }

                    <a asp-controller="Section" asp-action="Index" class="btn btn-secondary" style="width:100px">
                        Back to List
                    </a>
                </div>

            </div>

        </div>
       
    </div>

   

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>        
            tinymce.init({
                selector: 'textarea',
                plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
                toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
                tinycomments_mode: 'embedded',
                tinycomments_author: 'Author name',
                mergetags_list: [
                    { value: 'First.Name', title: 'First Name' },
                    { value: 'Email', title: 'Email' },
                ]
            });

    </script>
}
