<div class="card shadow-none border border-300 mb-3  card-default card-table" data-component-card="data-component-card">

    <div class="card-body p-0">
        <div class="collapse code-collapse" id="search-example-code">
            <pre class="scrollbar" style="max-height:420px">

            </pre>
        </div>
        <div class="p-4 code-to-copy">

            <h2 class="text-bold text-1100 mb-5">General Parameters</h2>
            <div id="tableExample3" data-list='{"valueNames":["name"],"page":10,"pagination":true}'>
                <div class="row align-items-center justify-content-between g-3 mb-4">
                    <div class="col col-auto">
                        <div class="search-box">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="d-flex align-items-center">
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="table-responsive row">
                        <div class="">
                            <table class="table table-striped table-sm fs--1 mb-0" id="genparamtbl" width="100%">
                                <thead>
                                    <tr>
                                        <th class="sort border-top ps-3" data-sort="name">Insurance Max</th>
                                        <th class="sort border-top ps-3" data-sort="name">Insurance Rate</th>
                                        <th class="sort border-top ps-3" data-sort="name">Emp Code</th>
                                        <th class="sort border-top ps-3" data-sort="name">Personal Relief</th>
                                        <th class="sort text-end align-middle pe-0 border-top" scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>

                            </table>
                        </div>

                    </div>

                </div>
            </div>



        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/genparam.js"></script>
}
