@model SmartHRM.Models.Bank

<div class="container">
    <form method="post" asp-action="Upsert">
    <div class="card">
        <div class="card-header bg-dark text-light ml-0">
            <div class=" row container">
                <div class="col-6">
                    <i class="fa fa-sho"></i> &nbsp;
                    @(Model.Id != 0 ? "Update" : "Create") Bank
                </div>
                <div class="col-6 text-end">
                    <a asp-action="Index" class="btn btn-outline-info btn-sm">Back to List</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="container">
              
                    <div class="row col-12 offset-lg-1">
                        
                        <input asp-for="Id" hidden />
                        <div class="row my-1">
                            <div class="col-3">
                                <label asp-for="BankName"></label>
                            </div>
                            <div class="col-7">
                                <input asp-for="BankName" class="form-control" />
                                <span asp-validation-for="BankName" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
              
            </div>
            <div class="card-footer">
                <div class="row">

                    <div class="col-12 col-md-4">
                        <button type="submit" onclick="return ValidateInput()" class="btn btn-primary form-control align-right">Save Bank</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
   
}
