@model SmartHRM.Models.ViewModels.RetrievePeriodDetailsVM
@using Microsoft.Extensions.Options


<div class="container col-8">
    
    <form method="post" asp-area="General" asp-controller="Home" asp-action="Closeperiod">
        <div class="card ">
            <div class="card-header bg-dark text-light ml-0">
                <div class="container">
                    <div class="col-3">
                        <i class="fa fa-sho"></i> &nbsp;
                        Close Period
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="container">

                    <div class="row g-4 align-center">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="card border border-primary">
                                <div class="card-body">
                                    <h4 class="card-title">Current Period </h4>
                                    <p class="card-text">

                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Start</label>
                                            </div>
                                            <div class="col-9">
                                                <input  asp-for="Closeperiod.currentPeriodStartDate"  disabled  class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>End</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.currentPeriodEndDate" disabled name="currentend" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Period</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.CurrentPeriodOutPut" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Month</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.currentMonthInWordOutPut" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Year</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.currentYearOutput" disabled class="form-control" />
                                            </div>
                                        </div>

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="card border border-secondary">
                                <div class="card-body">
                                    <h4 class="card-title">Next Period</h4>
                                    <p class="card-text">

                                       
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Start</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.NextPeriodStartdate" disabled class="form-control" />
                                            </div>
                                        </div>

                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>End</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.NextPeriodEnddate" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Period</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.NextPeriodOutPut" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Month</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.NextMonthInWordOutPut" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row my-1">
                                            <div class="col-3">
                                                <label>Year</label>
                                            </div>
                                            <div class="col-9">
                                                <input asp-for="Closeperiod.NextYearOutput" disabled class="form-control" />
                                            </div>
                                        </div>

                                    </p>
                                </div>
                            </div>
                        </div>
                       
                    </div>

                </div>

                <div class="card-footer">
                    <div class="row col-12 offset-lg-1">
                        <div class="col-4">
                            <button type="submit" class="btn btn-outline-info btn-sm">
                                Close Period
                            </button>    
                        </div>
                        <div class="col-4 text-end">
                            <a asp-action="Index" class="btn btn-outline-info btn-sm">Cancel</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script src="~/js/closeperiod.js"></script>

}