<?xml version="1.0" encoding="utf-8"?>

<configuration
  xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web xdt:Transform="InsertIfMissing">
		<httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" xdt:Transform="InsertIfMissing"/>
	</system.web>
	<location>
		<system.webServer>
			<security xdt:Transform="InsertIfMissing">
				<requestFiltering xdt:Transform="InsertIfMissing">
					<requestLimits maxQueryString="32768" xdt:Transform="InsertIfMissing" />
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
</configuration>